extends layout
include drops
include share-game-modal
include game-over-modal

block content

    .container

        #canvas-container
        +drops


    +share-game-modal
    +game-over-modal

    #share-game-modal-container

    script(src="bundle.js")
