{% extends 'base.html' %}

{% block head %}
<script src="{{url_for('static', filename='jquery-3.5.1.min.js')}}"></script>
<script src="{{url_for('static', filename='socket.io.js')}}"></script>
{% endblock %}

{% block content %}

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.roomname.label }} <br>
        {{ form.roomname(size=32) }}
    </p>
    <p> {{ form.submit() }} </p>
</form>

<table>
    {% for room in rooms %}
    <tr>
        <td> {{ room.name }} </td>
        <td> {{ room.gid }} </td>
        <td> {{ room.time }} </td>
        <td> <a href={{ "/play?mode=2&gid=" + room.gid }}>Join! </a> </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

