{% extends 'base.html' %}

{% block head %}
<script src="{{url_for('static', filename='jquery-3.5.1.min.js')}}"></script>
<script src="{{url_for('static', filename='socket.io.js')}}"></script>
{% endblock %}

{% block content %}

    <div id="controls">
    <form id="test" method="POST" action='#'>
        <input type="submit" value="Test Move">
    </form>
    <form id="automove" method="POST" action='#'>
        <input type="submit" value="AutoMove">
    </form>
    <form id="resetgame" method="POST" action='#'>
        <input type="submit" value="Reset">
    </form>
    <form id="joingame" method="POST" action='#'>
        <input type="submit" value="Join Game">
    </form>
    </div>

<canvas id='c'></canvas>
<script src="{{ url_for('static', filename='index.js') }}" type='module'> </script>
{% endblock %}
