mixin insect(name, num, team)
    li.list-group-item
        button.btn.btn-secondary(class=name class=team)
            span.badge.badge-primary.badge-pill= num
            = name

mixin drops
    ul.list-group.list-group-horizontal#drops
        each team in ["BLACK", "WHITE"]
            each val, key in {"ant": 3, "beetle": 2, "grasshopper": 3, "spider": 2, "bee": 1}
                +insect(key, val, team)

