extends layout
block content
    form(action="/create", method="POST")
        div.input
            span.label Enter a game name
            input(type="text", name="gid")
        div.actions
            input(type="submit", value="OK")

    form(action="/join", method="POST")
        div.input
            span.label Enter the ID of the game you want to join
            input(type="text", name="gid")
        div.actions
            input(type="submit", value="OK")
