extends layout
include drops
include share-game-modal
include game-over-modal

block content

    div.container

        div#canvas-container
        +drops


    +share-game-modal
    +game-over-modal

    script(src="bundle.js")
