doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Tactical online boardgame")
    meta(name="author", content="Gottschali")
    link(href="/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/style.css", rel="stylesheet")
  body

    nav.navbar.navbar-inverse.navbar-static-top(role="navigation")
      .navbar-header
        a.navbar-brand(href="/index") HiveMind
    block content
